body {
  min-height: 100vh;
}

noscript {
  position: fixed;
  top: 0;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 23px;
  animation: slide 3s infinite linear;
}

.shelf {
  position: relative;
  width: 95%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.582);
  margin: 20px auto;
}

.shelf::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
  background: url(../src/asset/clip-education.png) center no-repeat;
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: url(asset/wave.png) no-repeat #fff;
  background-position: 0 50%;
  background-size: contain cover;
  perspective: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: transform 3s;
}

.intro img {
  margin-left: 15%;
  max-height: 440px;
  width: auto;
  animation: slide 3s infinite linear;
}

.intro h2 {
  padding: 20px;
  font-size: 25px;
  font-family: cursive;
  color: rgb(255, 0, 55);
  background-color: rgba(153, 184, 16, 0.2);
  text-align: center;
  border-radius: 5px;
}

.field:invalid {
  border-color: red;
  background-color: gainsboro;
}

.field:focus:invalid {
  outline: none;
}

.greet {
  border: 2px solid silver;
  border-radius: 10px;
  padding: 10px;
  width: 350px;
  margin-top: -200px;
  text-align: center;
}

.greet>button {
  margin-top: 40px;
  width: 80%;
  height: 60px;
  border: none;
  background-color: rgba(255, 0, 0, 0.596);
  font-size: 25px;
  color: #fff;
  border-radius: 10px;
}

.greet p {
  margin-top: 30px;
  font-family: cursive;
  font-style: italic;
  font-size: 25px;
}

@keyframes slide {
  from {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(10px) scale(0.9);
  }
  to {
    transform: translateY(0px) scale(1);
  }
}

.book {
  display: grid;
  grid-template: 1fr/ 1fr 5fr;
  background: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  font-size: 17px;
  background-color: rgb(20, 2, 43);
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.book *:not(.book>img) {
  display: inline-block;
  margin-bottom: 15px;
  justify-self: center;
}

.book>h1 {
  text-align: left;
  font-size: 16px;
  max-width: 70%;
}

.book>h3, .book>h4 {
  font-size: 16px;
  grid-column: 2 /2;
}

.book>img {
  height: 50px;
  max-width: auto;
}

.book button {
  border: none;
  flex: 1;
  color: white;
  background: coral;
  align-self: center;
  padding: 15px;
  margin-right: 1%;
  width: 200px;
}

.book .status-button {
  grid-column: 2/2;
  background: mediumseagreen;
}

.addBookWrap {
  text-align: center;
}

.createBookButton {
  background: #083232d0;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 10px;
}

.createBookForm {
  display: none;
}

.displayForm {
  position: absolute;
  top: 60px;
  left: 12%;
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid silver;
  padding: 10px;
  margin: auto;
  display: flex;
  color: #fff;
  max-width: 1500px;
  min-width: 300px;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
}

.form-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1900px;
  margin: auto;
}

.form-content * {
  margin: 5px;
}

.form-content input {
  margin-right: 15px;
  padding: 5px;
}

label {
  padding: 2px;
  border-radius: 5px;
  color: #fff;
  background-color: darkcyan;
  margin-top: 5px;
}

.info {
  background-color: darkcyan;
  border-radius: 10px;
  color: #fff;
  padding-top: 3%;
  font-size: 1.5em;
  text-align: center;
}

.info p {
  margin: 0;
}

.addBookBut {
  background: #083232d0;
  font-size: 17px;
  border: 4px solid green;
  border: none;
  padding: 2px 10px;
  border-radius: 5px;
  margin-top: 10px;
  align-self: center;
}

.my-books {
  width: 90%;
  margin: 90px auto 10px auto;
  border: 3px solid silver;
  height: 80vh;
  overflow-y: auto;
}

@media only screen and (max-width: 900px) {
  .displayForm {
    flex-flow: column nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    height: 300px;
    width: 50%;
    left: 16%;
  }
  .form-content {
    text-align: left;
    flex-flow: column nowrap;
    align-content: space-around;
    height: 900px;
    align-items: flex-start;
    padding-left: 5px;
  }
  .createBookForm {
    height: 320px;
  }
  .book {
    height: 250px;
  }
  .book>h3, .book>h4 {
    font-size: 13px;
  }
  .intro {
    background: url(asset/wave.png) no-repeat #fff;
  }
  .intro img {
    display: none;
  }
  .greet {
    background: whitesmoke;
  }
}

@media only screen and (max-width: 430px) {
  .intro {
    background: url(asset/wave.png) no-repeat #fff;
    width: 100%;
    height: 120%;
  }
  .intro img {
    display: none;
  }
  .greet {
    background: whitesmoke;
  }
}